.grid {
    display: grid;
    gap: 16px;
    padding: 16px;
}

.titulo {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botaoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.botao{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.botao:hover{
    background-color: #ff0000;
}


@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
